<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Пиццерия Maximio's | Главная</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="icon.png">
    <!-- SCRIPTS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>
<body background="pattern.jpg">

<!--NAV-->
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-gradient sticky-top border-bottom border-dark font-monospace">
    <div class="container-fluid">
        <a class="navbar-brand" href="index">
            <img src="icon.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
            Maximio's</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop">Магазин</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="true">
                        О нас
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="masters">Наши мастера</a></li>
                        <li><a class="dropdown-item" href="contacts">Контакты</a></li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/login">Войти</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                       data-bs-toggle="dropdown" aria-expanded="true" sec:authentication="name">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li sec:authorize="hasRole('ADMIN')"><a class="dropdown-item" href="admin">Администрирование</a></li>
                        <li><a class="dropdown-item" href="lk">Личный кабинет</a></li>
                        <li><a class="dropdown-item" href="cart">Корзина</a></li>
                        <li><a class="dropdown-item" href="orders">Заказы</a></li>
                        <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--MAIN-->
<main class="container-fluid fade show bg-light bg-gradient" style="--bs-bg-opacity: .75;">
    <div class="row min-vh-100">
        <div class="col-md-6 m-auto">
            <img class="img-fluid rounded" src="main.jpg" alt="Flowers">
        </div>
        <div style="font-family: 'Comic Sans MS', serif;" class="col-md-6 text-justify m-auto lh-lg">
            Когда мы говорим о мире кулинарии, то пицца - в самом низу пирамиды "крутости". С другой стороны, это один из немногих продуктов, который периодически едят все. И не только студенты.

            Как же не любить эти божественно вкусные треугольники?

            Пицца - это воплощение концепции идеальной закуски. У нее есть хрустящая корочка, соленый соус и клейкий сыр. Начинок - огромное число вариантов. Можно перекусить, а можно полноценно пообедать.

            Восхитительно и то, что пицца - это относительно здоровый продукт, а не только удобный. Это быстрый, недорогой и доступный круглосуточно способ поесть. Чтобы съесть пиццу, вам даже не нужно выходить из дому.

            Если люди говорят вам, что они не любят пиццу, то, очевидно, они ели ее слишком много. Переели. Мнение таких людей по этому поводу можно игнорировать.
        </div>
    </div>
</main>



<!--FOOTER-->
<footer class="card-footer border-top border-dark bg-light bg-gradient">
    <div class="d-flex flex-row justify-content-between">
        <div class="m-auto">
            <a class="text-black" style="text-decoration: none" href="https://github.com/1499maxawergy">
                <img src="github.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
                ГитХаб
            </a>
        </div>
        <div class="m-auto">
            <a class="text-black" style="text-decoration: none" href="https://t.me/maxawergy">
                <img src="tg-icon.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
                Телеграм
            </a>
        </div>
        <div class="m-auto">
            <a class="text-black" style="text-decoration: none" href="https://vk.com/maxawergy">
                <img src="vk-icon.png" width="30" height="30" class="d-inline-block align-top" alt="Icon">
                Вконтакте
            </a>
        </div>
    </div>
</footer>

</body>
</html>